@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/background-image1.jpg) ;
    background-repeat: no-repeat;
  /*ADD FONT FAMILY */
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-align: center;
}


.heading {
    text-align: center;
    font-size: 5rem;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    background-color:rgb(72,72,72,0.9)
}

/*inspired by the "Love Maths" project Code Institute*/
.game-area { 
    background-color:rgb(72,72,72,0.9);
    width: 90%;
    height: 65vh;
    max-height: 600px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%; 
    margin-top: 50px;
}

.game-area h2 {
    margin-top: 75px;
    font-family: 'Arvo', serif;
    font-size: 3rem;
    font-style: italic;
}

/* play now and how to play buttons*/
button {
    background-color: white;
    border: none;
    color: black;
    margin: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin-top: 100px;
    border-radius: 14px;
}
/*shadow effect idea taken from w3schools*/
button:hover {
    background-color: black;
    color: white;
    box-shadow: 0 20px 28px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: transform 150ms;
    transform: scale(1.04);
  }

/*footer*/
footer {
    color: white;
    background-color:rgb(72,72,72,0.9);  
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0;
    width: 100vw;
    height: auto;
}
footer h2 {
    padding-top: 20px;
}
.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

/*QUIZ CSS */
.choice-container {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 4px;
    background: white;
    font-size: 20px;
    color: black;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 20px 28px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* 
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}
*/