@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/background-image1.jpg) ;
    background-repeat: no-repeat;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-align: center;
}


.heading {
    text-align: center;
    font-size: 5rem;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    background-color:rgb(72,72,72,0.9)
}

a {
    text-decoration: none;
    color: white;
}
/*inspired by the "Love Maths" project Code Institute*/
.game-area-home { 
    background-color:rgb(72,72,72,0.9);
    width: 90%;
    max-height: 600px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%; 
    margin-top: 50px;
}

#intro{
    margin-top: 30px;
    font-family: 'Arvo', serif;
    font-size: 2rem;
    font-style: italic;
}

form {
    margin: 10px;
}

#name-result {
    font-size: 30px;
}

/* play now and how to play buttons*/
button {
    background-color: white;
    border: none;
    color: black;
    margin: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin-top: 50px;
    border-radius: 14px;
}
/*shadow effect idea taken from w3schools*/
button:hover {
    background-color: black;
    color: white;
    box-shadow: 0 20px 28px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: transform 150ms;
    transform: scale(1.04);
  }

  /* The Modal (taken from https://www.w3schools.com/howto/howto_css_modals.asp */ 
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: black;
    margin: 15% auto; 
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
    height: 60%; 
    color: white;
    font-size: 70px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/*footer*/
footer {
    color: white;
    background-color:rgb(72,72,72,0.9);  
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0;
    width: 100vw;
}
footer h2 {
    padding-top: 20px;
}
.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

/*QUIZ CSS */
.game-area-quiz { 
    background-color:rgb(72,72,72,0.9);
    width: 90%;
    max-height: 900px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%; 
    margin-top: 50px;
}
/* HUD section */
#hud {
    display: flex;
    justify-content: space-between;
}
.hud-prefix {
    text-align: center;
    color: red;
}

.hud-score-number {
    color:green;
    text-align: center;
    font-size: 30px;
}

#progressBar {
    width: 200px;
    height: 20px;
    border: 2px solid rgb(11, 223, 36);
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 50px;
    overflow: hidden;

}

#progressBarFull {
    height: 100%;
    background: rgb(11, 223, 36);
    width: 0%;
}

#question {
    margin-bottom: 20px;
    font-size: 40px;
}

/* Answer section where options A,B,C,D will be displayed */
.option-container {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 4px;
    background: white;
    font-size: 20px;
    color: black;
}

.option-container:hover {
    cursor: pointer;
    box-shadow: 0 20px 28px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: transform 150ms;
    transform: scale(1.04);
}

.option-prefix {
    padding: 1rem 1.5rem;
    color: black;
}

.option-text {
    padding: 1rem;
    width: 100%;
}

/*colour change for correct and incorrect answers */
.correct {
    background: green;
}

.incorrct {
    background: red;
}

/* End page */
.game-area-end { 
    background-color:rgb(72,72,72,0.9);
    width: 90%;
    max-height: 500px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%; 
    margin-top: 50px;
}
input {
    width: 300px;
    padding: 10px;
    font-size: 20px;
    border: none;
    text-align: center;
}

#end-text {
    margin-top: 25px;
    font-family: 'Arvo', serif;
    font-size: 30px;
    font-style: italic;
}

#saveScore {
    margin-top: 20px;
}

#finalScore {
    font-size: 100px;
}

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
/* Home Page */   
    .heading {
        height: 50px;
        font-size: 3rem;

    }
    footer {
        height: 100px;
    }
    .social-networks i {
        font-size: 100%;
    }
    .game-area { 
        max-height: 400px;
    }
    #intro{
        margin-top: 30px;
        font-size: 1rem;
        font-style: italic;
    }
    .modal { 
        position: none;
      }
      .modal-content {
        font-size: 40px;
      }
/*endpage*/
.game-area-end { 
    max-height: 400px;
    max-width: 800px;
    margin-top: 30px;
}
#finalScore {
    font-size: 50px;
}
    }

@media screen and (max-width: 800px) {
/* Home Page */   
.heading {
    height: 50px;
    font-size: 2rem;

}
footer {
    height: 80px;
}
.social-networks i {
    font-size: 100%;
}
.game-area { 
    max-height: 500px;
}
#intro{
    margin-top: 30px;
    font-size: 1rem;
    font-style: italic;
}
.modal { 
    position: none;
}
  .modal-content {
    font-size: 20px;
}

button {
    font-size: 1rem;
    margin-top: 5px;
    border-radius: 14px;
    height: 40px;
}

#question {
    margin-bottom: 10px;
    font-size: 20px;
}

#end-text {
    margin-top: 10px;
    font-size: 15px;
}

input {
    width: 200px;
    margin-top: 10px;
    font-size: 10px;
    border: none;
    text-align: center;
}
}

